body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family:bellota;
}

#tag-text {
    padding: 3px;
    color:#000000;
    border-right: black solid 2px;
    border-left: black solid 2px;
}

@font-face {
    font-family: 'bellota';
    src: url('bellota-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.header {
    position: sticky;
    height: 7vh;
    overflow-x: hidden
    width: fit-content;
    min-width 100vw;
    background-color: #9e9485;
    padding: 5px;
    color: #DDD;
}
.div {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.card-container {
    flex-basis: 100%;
    flex-wrap:wrap
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card-container textarea {
    margin: 3vh;
    padding: 3vh;
    width: 500px;
    height: 400px;
    resize: none;

}

.card {
    display: flex;
    margin: 1vw;
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #CCC, #DDD);
    border-radius: 20px;
    word-wrap:break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
}

.card #header{
    align:center;
    justify-center:center;
    text-align:center;
    color: #555555;
    word-wrap:break-word;
}
.card #content {
    padding-left:1vw;
    align:left;
    justify-center:left;
    text-align:left;
    color: #555555;
    word-wrap:break-word;
}

.button-div {
    position:fixed;
    left:20px;
    bottom:15px;
    border-radius: 20px;
    background-color: #BBBBBB;
    padding: 10px;
}

.center {
    position:fixed;
    left: 40%;
    bottom: 50%;
    border: 3px solid black;
    padding: 10px;
}

.button-submit-div {
    border-radius: 20px;
    background-color: #BBBBBB;
    padding: 10px;
}
.theme-div {
    font-size: 12px;
    background-color: #BBBBBB;
    padding: 10px;
    color:black;
    border: black solid 1px;
    margin: 3px;

}

.note-header {
    padding: 15px;
    margin: auto;
    text-align: center;
}

.note-text {
    margin: auto;
    width: 50vw;
}