body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family:bellota;
}

#tag-text {
    padding: 3px;
    color:#000000;
    border-right: black solid 2px;
    border-left: black solid 2px;
}

@font-face {
    font-family: 'bellota';
    src: url('bellota-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.header {
    height: 7vh;
    width: calc( width - 97wv);
    min-width 100vw;
    background-color: #9e9485;
    padding: 5px;
    color: #DDD;
}
.div {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.card-container {
    display:flex;
    justify-content: center;
    align-items: center;

}

.card-container textarea {
    padding: 100px;
    width: 500px;
    height: 400px;
    resize: none;

}

.card {
    display: flex;
    margin: 1vw;
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #CCC, #DDD);
    border-radius: 30px;
}

.card #header{
    align:center;
    justify-center:center;
    text-align:center;
    color: #555555;
}
.card #content {
    padding-left:1vw;
    align:left;
    justify-center:left;
    text-align:left;
    color: #555555;
}

.button-div {
    position:fixed;
    left:20px;
    bottom:15px;
    border-radius: 20px;
    background-color: #BBBBBB;
    padding: 10px;
}

.center {
    position:fixed;
    left: 40%;
    bottom: 50%;
    border: 3px solid black;
    padding: 10px;
}

.button-submit-div {
    border-radius: 20px;
    background-color: #BBBBBB;
    padding: 10px;
}