<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
<!--base elements of page - header and "create_note" button-->
    <div class="header">
                <H2>
                    <p onclick="window.location.replace('/')">Simple Django Note app </p>
        </H2>

    </div>

    <div class = "button-div" onclick="window.location.replace('/newNote')">
        create note
    </div>
    {% block content %}

    {% endblock content %}

</body>
</html>