{% extends "base.html" %}
{% block title %}Editor{% endblock title %}
{% block content %}

<div class="note-text">
    <div>
        <form  method = "POST" ACTION = "/newNote/">
            <p>insert note theme</p>
            <input align="left" type="text" name="theme" required />
            <br>
            <p>insert note data</p>
            <textarea rows= 20 cols = 30 resize = "none" name = "text" required >
            </textarea>
            <p>select not type </p>
             <input type="radio" value="common" name="note-type">
            <label for="note-type">common</label><br>
             <input type="radio" value="personal" name="note-type">
            <label for="note-type">personal</label><br>
            <br>
            <input type="submit" class="button-submit-div" value="send">
        </form>
    </div>
</div>

{% endblock content %}