{% extends "base.html" %}
{% block title %}Logging in{% endblock title %}
{% block content %}
<div class="center">
     {% csrf_token %}
    <form method="POST" ACTION="/log_in/">
        {{text}}
        username
        <input type="text" name="username" required />
        <p>
        password
        <input type="password" name="password" required  />
        <p>
        <a href="/recovery">forgot password?</a>
        <br>
        <a href="/reg">registrate in service</a>
        <br>
        <input type="submit" value="log in" class="button-submit-div" />
    </form>
</div>
{% endblock content %}