{% extends "base.html" %}
{% block title %}Logging in{% endblock title %}
{% block content %}
<div class="center">
    <form method="POST" ACTION="">
        username
        <input type="text" />
        <p>
        password
        <input type="password" />
        <p>
        <a href="/recovery">forgot password?</a>
        <br>
        <a href="/reg">registrate in service</a>
        <br>
        <input type="submit" value="log in" class="button-submit-div" />
    </form>
</div>
{% endblock content %}